http_address = "0.0.0.0:4180"
upstreams = ["http://grafana:3000"]
provider = "github"
github_users = ["gmackie"]
email_domains = ["*"]
cookie_domains = [".gmac.io"]
whitelist_domains = [".gmac.io"]
cookie_secure = true
cookie_httponly = true
cookie_samesite = "lax"
cookie_name = "_oauth2_proxy_grafana"
set_xauthrequest = true
pass_access_token = true
pass_user_headers = true
skip_provider_button = true
skip_auth_strip_headers = false
scope = "user:email read:org"
redirect_url = "https://metrics.gmac.io/oauth2/callback"
# Pass email header to Grafana for auto-login
set_authorization_header = true
pass_authorization_header = true